#home-page{
    height: 100vh;
    width: 100vw;
}

#home-content{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;


}

.foreground {
    z-index: 1;
}

#home-content > *{
    flex: 1;
    max-width: 100%;
}

#left-side{
    align-items: center;
    margin-top: 20vh;
    margin-left: 50px;
    z-index: 1;
}



#title {
    display: flex;
    align-items: center;    
        
  }
  


h1{
    font-size: 7rem;
    font-weight: 100;
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    object-fit: fill;
    z-index: 0 !important;
    filter: brightness(55%);
}

.logo {
    height: 80px;
    width: 80px;
}



#middle {
    width: 100%;
    margin-top: 100px;
    align-self: flex-end;
    margin-bottom: 10rem;
    z-index: 2;
    display: flex;
    justify-content: center;
}


#right-side {
    display: flex;
    margin: 10px;
    gap: 20px;
    scale: 0.8;
}


#login, #explore-movies {
    width: 20vw;
}

#my-movies {
    margin-left: 10vw;
    margin-top: 10vh;
}

form {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 60vh;
    margin: 50px auto auto auto;
    border-radius: 25px;
    background-color: black;
    align-items: left ;
}

form h2{
    width: auto;
    text-align: center;
    margin: 0;
    border-radius: 25px;
    padding: 10px;
    border: 1px solid white;
}

form input, h4 {
    border-radius: 25px;
    height: 20px;
    width: 80%;
    margin: auto;
}

.cancel-submit {
    display: flex;
    justify-content:space-evenly;

}

.cancel-submit button {
    width: 100%;
    margin: 30px;
}

.playlist-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    margin: auto;

}

.playlist-card {
    border: 1px solid black;
    background-color: black;
    border-radius: 25px;
    flex: 0 0 30%;
    margin: auto;
    padding: 10px;
    transition: transform 0.2s ease-in-out;

}

.playlist-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    filter: drop-shadow(0 0 2rem rgba(255, 255, 255, 0.15));

}

.playlist-card img {
    width: 100%;
    height: 40vh;
    object-fit:cover;
    border-radius: 25px;
    
}


.playlist-item {
    background-color: black;
    border-radius: 25px;
    width: 80vw;
    margin: 2vh auto auto auto;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.playlist-item img {
    height: 20vh;
    width: 20vw;
    object-fit: cover;
    border-radius: 25px;
}

.playlist-item * {
    margin: 10px;
    border: 25px;
}

.playlist-heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.title-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.playlist-buttons{
    display: flex;
    justify-content: center;
}